<!doctype html>

<html lang="en">
  <head>
    <title>Employee TODOs</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
	<a class="navbar-header" href="#">
	  <span>EASYSOFT COMPANY</span>
	</a>
      </div>
      <ul class="nav navbar-nav">
	<li><a href="/">Home</a></li>
	<li><a href="/employeeList">Employee List</a></li>
	<li><a href="/todoList">Todo List</a></li>
      </ul>
    </nav>
    
